@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

//colors//

$darkgrey:#333333;
$ligthgrey:#f9f9f9;
$lighter:#fafafa;
$title:#00d991;
$white:#ffffff;
$thumbnailsGreen:rgba(22,196,138,.2);
$thumbnailsPurple:rgba(58,0,120,.2);
$thumbnailsYellow:rgba(228,232,12,.2);
$purple: #0f001f;

//size//

$left-title-size:28px;
$header-title-size:50px;
//$section-title-size:28px;
$subtitle-size:40px;
$txt-size:16px;
$txt-lh:30px;
$small-txt-size:13px;
$small-txt-lh:18px;

//$sections-spaces:120px;

//font//

$text-font:"Roboto";
$nav-font:"Montserrat";

$title-size:40px;
$par-size:16px;

//